{
  "AWSEBDockerrunVersion": "2",
  "containerDefinitions": [
    {
      "name": "docker-node",
      "image": "quay.io/simonguest/docker-node:<TAG>",
      "essential": true,
      "memory": 128,
      "portMappings": [
        {
          "hostPort": 80,
          "containerPort": 3000
        }
      ]
    }
  ]
}
